node_modules

# Output
.output
.vercel
.netlify
.wrangler
dist
.flue-vite
.flue-vite.wrangler.jsonc
/.svelte-kit
/build
worker-configuration.d.ts

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.dev.vars
!.dev.vars.example
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
